fastapi==0.58.1
pydantic==1.4
fishbase==1.1.13
uvicorn==0.11.3
SQLAlchemy==1.2.8
PyMySQL==0.9.1
gunicorn==19.8.1
redis==3.4.1
requests==2.23.0
Pillow==7.1.0
fastapi-utils
async-exit-stack
async-generator
alembic
python-dotenv